<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <img src="../../assets/img/v4Company.png" alt="">
      </div>
      <br>
    </a>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="customers" class="nav-link" >
        <i class="ti-pie-chart"></i>
        <p>Clientes</p>
      </a>
    </li>

    <!-- <li class="nav-item">
      <a routerLink="flights" class="nav-link" >
        <i class="ti-arrow-top-right"></i>
        <p>Flights</p>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="customers" class="nav-link" >
        <i class="ti-pie-chart"></i>
        <p>customers</p>
      </a>
    </li> -->

  </ul>
</div>
