<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Customer</li>
  </ol>
</nav>
<div class="card">
  <div class="header">
    <!-- <h2 class="title">Customer</h2> -->
  </div>
  <div class="content">
    <div *ngIf="feedback.length" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>

      <div class="form-group">
        <label for="customer">Cliente</label>
        <input [(ngModel)]="customer.customer" id="customer" name="customer" class="form-control" disabled>
      </div>

      <div class="form-group">
        <label for="segmento">Segmento</label>
        <input [(ngModel)]="customer.segmento" id="segmento" name="segmento" class="form-control" disabled>
      </div>

      <div class="form-group">
        <label for="cac">CAC</label>
        <input [(ngModel)]="customer.cac" id="cac" name="cac" class="form-control" disabled>
      </div>

      <div class="form-group">
        <label for="ltv">LTV</label>
        <input [(ngModel)]="customer.ltv" id="ltv" name="ltv" class="form-control" disabled>
      </div>

      <div class="form-group">
        <label for="roas">ROAS</label>
        <input [(ngModel)]="customer.roas" id="roas" name="roas" class="form-control" disabled>
      </div>

      <div class="form-group">
        <label for="roi">ROI</label>
        <input [(ngModel)]="customer.roi" id="roi" name="roi" class="form-control" disabled>
      </div>
    
  </div>
  <div class="content">
    <button type="button" class="btn btn-secondary" (click)="back()">Voltar</button>
  </div>    
</div>
